@model MarriottVisitantes.Dominio.Entidades.Visitante
@{
    ViewData["Title"] = "Marriott Costa Rica";
    var accionSubmit = Model.Id == 0 ? "Agregar" : "Actualizar";
    var mensajeExito = ViewData["Éxito"] as string;
}

<div class="container-xl px-5">
    <div class="text-start mb-4">
        <h1 class="display-4">Datos del visitante</h1>
    </div>
    <hr class="my-5">
    <div class="col-sm-12 col-md-8 col-lg-6">
        @if(!string.IsNullOrEmpty(mensajeExito))
        {
            <div class="alert alert-success" role="alert">
                @mensajeExito
            </div>
        }
        <form asp-controller="Visitantes" asp-action="Visitante" method="post">
            <input type="hidden" asp-for="Id">
            <div class="form-floating mb-4 w-auto">
                <input class="form-control" asp-for="Cedula" id="Cedula" type="text" placeholder="Identificación"/>
                <label asp-for="Cedula" for="Cedula">Identificación</label>
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-floating mb-4 w-auto">
                <input class="form-control" asp-for="PrimerNombre" id="PrimerNombre" type="text" placeholder="Primer Nombre"/>
                <label asp-for="PrimerNombre" for="PrimerNombre">Primer Nombre</label>
                <span asp-validation-for="PrimerNombre" class="text-danger"></span>
            </div>
            <div class="form-floating mb-4 w-auto">
                <input class="form-control" asp-for="SegundoNombre" id="SegundoNombre" type="text" placeholder="Segundo Nombre"/>
                <label asp-for="SegundoNombre" for="SegundoNombre">Segundo Nombre</label>
                <span asp-validation-for="SegundoNombre" class="text-danger"></span>
            </div>
            <div class="form-floating mb-4 w-auto">
                <input class="form-control" asp-for="PrimerApellido" id="PrimerApellido" type="text" placeholder="Primer Apellido"/>
                <label asp-for="PrimerApellido" for="PrimerApellido">Primer Apellido</label>
                <span asp-validation-for="PrimerApellido" class="text-danger"></span>
            </div>
            <div class="form-floating mb-4 w-auto">
                <input class="form-control" asp-for="SegundoApellido" id="SegundoApellido" type="text" placeholder="Segundo Apellido"/>
                <label asp-for="SegundoApellido" for="SegundoApellido">Segundo Apellido</label>
                <span asp-validation-for="SegundoApellido" class="text-danger"></span>
            </div>
            <div class="form-floating mb-4 w-auto">
                <input class="form-control" asp-for="NombreEmpresa" id="NombreEmpresa" type="NombreEmpresa" placeholder="nombre@ejemplo.com" />
                <label asp-for="NombreEmpresa" for="NombreEmpresa">Empresa</label>
                <span asp-validation-for="NombreEmpresa" class="text-danger"></span>
            </div>
            <button class="btn btn-raised-primary" type="submit">@accionSubmit</button>
            @if (Model.Id != 0)
            {
                <a class="btn btn-raised-success"
                            asp-controller="Visitas"
                            asp-action="Agregar"
                            asp-route-visitanteId="@Model.Id">Nueva visita</a>
            }
        </form>
    </div>
</div>