@model BuscarVisitasViewModel
@{
    ViewData["Title"] = "Marriott Costa Rica";
}

<div class="container-xl px-5">
    <div class="text-start mb-4">
        <h1 class="display-4">Reporte de visitas</h1>
    </div>
    <hr class="my-5">
    <div class="col-sm-12 col-md-8 col-lg-6">
        <form asp-controller="Reportes" asp-action="TablaVisitas" method="get" autocomplete="off">
            <div class="mb-4 w-auto">
                <label class="form-label" for="litepickerSingleDate">Fecha:</label>
                <input class="form-control" id="litepickerSingleDate" placeholder="Seleccionar fecha...">
                <input id="fechaHidden" type="hidden" asp-for="Fecha">
            </div>
            <button class="btn btn-primary" type="submit">Buscar</button>
        </form>
    </div>
</div>