@model LoginViewModel
@{
    ViewData["Title"] = "Marriott Costa Rica - Ingreso";
    Layout = "_AccountLayout";
    var returnURL = @Context.Request.Query["returnurl"]; 
    
}

<!-- Auth header with logo image-->
<div class="text-center">
    <img class="mb-3" src="~/assets/marriott-logo.png" alt="..." style="height: 48px" />
    <h1 id="InicioHeader" class="display-5 mb-0">Inicio de sesión</h1>
    <div class="subheading-1 mb-5"></div>
</div>
<!-- Login submission form-->
<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@returnURL" class="mb-5" >
    <div class="form-floating input-group-lg mb-3">
        <input id="Email" asp-for="Email" type="text" class="form-control" placeholder="nombre@ejemplo.com">
        <label for="Email" asp-for="Email" class="form-label">Correo electrónico</label>      
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-floating input-group-lg mb-3">
        <input id="Password" asp-for="Password" type="password" class="form-control" placeholder="Contraseña">
        <label for="Password" asp-for="Password" class="form-label">Contraseña</label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-check mb-3">
        <input id="RememberMe" class="form-check-input" type="checkbox" asp-for="RememberMe">
        <label class="form-check-label" asp-for="RememberMe">
            Recuérdame
        </label>
    </div>
    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
        <a class="small fw-500 text-decoration-none" asp-controller="Account" asp-action="PasswordOlvidado">Olvidé mi contraseña</a>
        <button id="Ingresar" type="submit" class="btn btn-primary">Ingresar</button>
    </div>
    <div class="form-floating input-group-lg mt-3">
        <span id="DatosError" asp-validation-for="DatosError" class="text-danger"></span>
    </div>
</form>
