@model EmailRecuperarViewModel
@{
    ViewData["Title"] = "Marriott Costa Rica - Recuperar contraseña";
    Layout = "_AccountLayout";    
}
<!-- Auth header with logo image-->
<div class="text-center">
    <img class="mb-3" src="~/assets/MarriottLogo.svg" alt="..." style="height: 48px" />
    <h1 class="display-5 mb-0">Recuperar contraseña</h1>
    <div class="subheading-1 mb-5"></div>
</div>
<form asp-controller="Account" asp-action="PasswordOlvidado" class="mb-5" >
    <div class="form-floating input-group-lg mb-3">
        <input id="Email" asp-for="Email" type="text" class="form-control" placeholder="nombre@ejemplo.com">
        <label for="Email" asp-for="Email" class="form-label">Correo electrónico</label>      
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>

